<div class="top-menu">

  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

  <course-card [title]="coreCourse.description" [description]="coreCourse.longDescription"
    [imgSrc]="coreCourse.iconUrl"></course-card>
  <course-card [title]="rxjsCourse.description" [description]="rxjsCourse.longDescription"
    [imgSrc]="rxjsCourse.iconUrl"></course-card>
  <course-card [title]="ngrxCourse.description" [description]="ngrxCourse.longDescription"
    [imgSrc]="ngrxCourse.iconUrl"></course-card>

</div>
